aiohttp
# Flask
Flask[async]
gunicorn
# flask-asgi
# uvicorn
requests
aiohttp
asyncio
SQLAlchemy
Flask-SQLAlchemy
Jinja2
Werkzeug
# Additional packages
Flask-WTF
Flask-Login
Flask-Migrate
python-dotenv
--upgrade urllib3 requests
