aiohttp
# Flask
Flask[async]
gunicorn
urllib3>=2.2.3
requests>=2.32.3
aiohttp>=3.9.5
asyncio
SQLAlchemy
Flask-SQLAlchemy
Jinja2
Werkzeug
# Additional packages
Flask-WTF
Flask-Login
Flask-Migrate
python-dotenv
--upgrade urllib3 requests
