/* =============== GOOGLE FONTS ============= */
/* Bai Jamjuree */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");

/* =============== CDN FONTS ============= */
/* Samarkan */
@import url("https://fonts.cdnfonts.com/css/samarkan");
/* Calibri light */
@import url("https://fonts.cdnfonts.com/css/calibri-light");

/* =============== CSS VARIABLES ============= */
:root {
  /* ============= Colors ============= */
  /* Color mode HSL(hue, saturation, lightness) */
  --first-color: hsl(14, 98%, 50%);
  --black-color: hsl(0, 0%, 0%);
  --black-color-light: hsl(0, 0%, 40%);
  --white-color: hsl(0, 0%, 95%);
  --title-color: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 64%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: hsl(0, 0%, 83%);
  --yellow-color: #e4bb60;
  --cream-color: #f2db9f;
  --purple-color: #6c2faa;
  --purple-color-light: #bf9ff2;

  /* ============ Font and Typography ============ */
  /* .5rem = 8px / 1rem = 16px ... */
  --body-font: "Bai Jamjuree", sans-serif;
  --hindu-font: "Samarkan", sans-serif;
  --body-logo-font: "Calibri Light", sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*=========== Font Weight =================*/
  --font-very-light: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/*=================== Responsive Typography ==================*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h1-font-size: 3rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ============= BASE ================= */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  /* height: 100vh; */

  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  /* background-color: var(--body-color); */
  background-color: var(--body-color);
  color: var(--black-color);

  position: relative;
}

button {
  font-family: var(--body-font);
}

header {
  position: absolute;
  top: 0;
  color: var(--white-color);
}
.icon_header {
  width: fit-content;
  background-color: var(--black-color);
  /* padding: 1rem; */
  border-radius: 3rem;

  position: relative;
  top: 0;
  left: 15rem;
}
.icon_header h1 {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.icon_header a {
  text-decoration: none;
  color: #ffffff;
}

.welcome-heading,
.mode_heading {
  text-align: center;
  /* margin-inline: auto; */
  color: var(--black-color);
  margin-block: 2rem;
  font-size: var(--h2-font-size);
}

.container_content {
  margin-inline: auto;

  width: fit-content;
  height: 70vh;
  display: flex;
  gap: 2rem;
  align-items: center;
  background-color: #ffffff;
  /* padding-bottom: 2rem; */
  padding-right: 5rem;
  padding-left: 6rem;

  box-shadow: 0.5rem 0.5rem 2rem 1rem var(--purple-color);
}

.container_left {
  display: flex;
  align-items: center;

  position: relative;
}
.hindu_image {
  width: 300px;
  height: auto;
}

.container_button_start {
  /* width: 10rem; */

  position: absolute;
  /* right: 3rem; */
  left: 5.2rem;
  z-index: 1;
}
.button_start-random,
.button_trivia-mode,
.button_trivia-start,
.button_results-view,
.button_restart,
.button_home {
  font-family: var(--body-font);
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  border: 1px solid var(--black-color);
  background-color: var(--body-color);
  padding: 2rem 3rem;

  cursor: pointer;

  transition: 0.3s ease-in-out;
}

.container_center {
  /* width: 100%; */
  /* background-color: var(--cream-color); */

  /* width: 33%; */
  max-height: 70vh;
  height: auto;

  overflow: hidden;
}
.guru_home {
  position: relative;
}
.guru_home-video {
  width: 25rem;
  height: auto;

  position: relative;
  bottom: 2rem;
  /* right: 1.15rem; */
}

/* Select mode section */
.container_right {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.8rem;
  /* row-gap: 2rem; */
  /* min-height: 787px; */
  position: relative;
}
.text_top {
  /* flex-grow: 1; */
  transform: rotate(90deg);
  position: relative;
  right: -5rem;
  top: 5rem;
  font-family: var(--hindu-font);
}
.text_top-hindu {
  /* font-family: var(--hindu-font); */
  width: fit-content;
  background-color: var(--black-color);
  padding: 0.5rem 1rem;
  color: var(--white-color);
}
.text_top-hindu:hover {
  background-color: var(--purple-color-light);
  color: var(--black-color);
}

.text_top-english {
  width: fit-content;
  background-color: var(--purple-color-light);
  padding: 0.5rem 1rem;
  color: var(--black-color);
}
.text_top-english:hover {
  background-color: var(--black-color);
  color: #ffffff;
}

.button_trivia {
  /* flex-grow: 1; */
  position: relative;
  top: 3rem;
  right: 3.5rem;
}

.button_trivia-mode,
.button_trivia-start {
  text-decoration: none;
  color: var(--black-color);
}

.text_bottom {
  /* font-family: var(--body-logo-font);
  font-size: var(--h1-font-size);
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
  color: var(--black-color);
  display: flex;
  flex-direction: column; */

  position: relative;
  bottom: 1rem;
}
.text_bottom img {
  width: 20rem;
  height: auto;
}

/* #trivia-text {
  line-height: 0;
  padding-left: 2.5rem;
} */

/* FOOTER SECTION */
.container_footer {
  margin-inline: auto;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.container_foooter-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 2rem;
}
.container_foooter-links a {
  color: var(--black-color-light);
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
}

.button_start-random:hover,
.button_trivia-mode:hover,
.button_trivia-start:hover,
.button_results-view:hover,
.button_restart:hover,
.button_home:hover {
  background-color: var(--purple-color-light);
  border: 3px solid var(--yellow-color);
  border-radius: 1rem;
}
.container_foooter-links a:hover {
  color: var(--yellow-color);
}

/* ======================== MODE PAGE =================== */
.container_content-mode,
.container_content-start,
.container_content-score {
  margin-inline: auto;
  height: 80vh;
  background-color: #ffffff;
}
.container_content-mode {
  width: fit-content;
}
.container_content-mode form,
.container_content-start form {
  height: 100%;
}
.form_content {
  height: 100%;
  display: flex;
  /* gap: 5rem; */
  align-items: center;

  position: relative;
}
.section_category,
.section_difficulty,
.container_button-start {
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--black-color);
  font-weight: var(--font-medium);
}
.mode_text-top {
  position: absolute;
  top: 5rem;
  right: 0;
}

.trivia_category,
.trivia_difficulty {
  min-width: 20rem;
  border: 1px solid var(--black-color);
  padding: 1rem;
  font-family: var(--body-font);
  text-align: center;
  font-size: var(--font-medium);

  transition: 0.3s ease-in-out;
}
.trivia_category:hover,
.trivia_difficulty:hover {
  background-color: var(--purple-color-light);
  font-family: var(--body-font);
  border-radius: 0.5rem;
  border: 0.3rem solid var(--yellow-color);
}

/* ======================== START PAGE =================== */
.container_content-start {
  max-width: 90rem;
  background-color: var(--purple-color-light);
}
/* .start_buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
} */

.start_form-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: relative;
}
.container_button-prev {
  position: absolute;
  top: 1rem;
  left: 2rem;
  padding: 1rem 2rem;
}

.container_button-next,
.container_button-submit {
  position: absolute;
  top: 1rem;
  right: 2rem;
  padding: 1rem 2rem;
}
.button_next,
.button_prev,
.button_submit {
  /* border: none; */
  font-family: var(--body-font);
  font-size: var(--h3-font-size);
  background-color: #ffffff;
  border: 1px solid var(--black-color);
  padding: 1rem 3rem;

  cursor: pointer;
  transition: 0.1s ease-in;
}
.button_next:hover,
.button_prev:hover,
.button_submit:hover {
  border: 2px solid var(--yellow-color);
}

.container_trivia-guru {
  /* background: red; */

  width: max-content;
  height: max-content;
  /* border-radius: 50%; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* position: relative; */
}
.container_circle {
  position: relative;

  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background: conic-gradient(
    var(--yellow-color) 350deg,
    var(--body-color) 0deg
  );
  transform: rotate(0);

  animation-name: animation-guru-head;
  /* animation-delay: 0.1s; */
  animation-duration: 3s;
  animation-iteration-count: infinite;

  /* For the ::after positioning */
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animation-guru-head {
  0% {
    transform: rotate(3.6deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.container_circle::before {
  content: "";

  position: absolute;

  width: 19rem;
  height: 19rem;
  border-radius: 50%;

  animation-name: animation-guru-back;
  animation-duration: 3s;
  animation-iteration-count: infinite;

  background-color: var(--body-color);
  /* background-color: var(--purple-color-light); */
}
@keyframes animation-guru-back {
  0% {
    background-color: var(--body-color);
  }

  50% {
    background-color: var(--purple-color-light);
  }

  100% {
    background-color: var(--body-color);
  }
}

.container_guru-head {
  position: absolute;
}

.selected_question {
  color: var(--black-color);
  padding-inline: 2rem;
  text-align: center;
}
.container_answers {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}
.container_answer {
  min-width: 30rem;
  text-align: center;

  border: 1px solid var(--black-color);
  margin-bottom: 2rem;
  padding: 2rem;
}
.container_answer:hover {
  background-color: var(--body-color);
}

.selected_answer-label {
  padding-left: 1rem;
  color: var(--black-color);
}

.selected_answer-label,
.selected_answer-radio,
.container_answer {
  cursor: pointer;
}

.selected_answer-radio {
  transform: scale(1.2);
}

/* ==================== SCORE PAGE ================== */
.container_content-score {
  max-width: 90rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  position: relative;
}

.container_score-comment {
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--yellow-color);
  width: 20rem;
  height: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: var(--h2-font-size);
}
.container_score {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-bold);
}

/* #container_guru-result-1,
#container_guru-result-2,
#container_guru-result-3 {
  display: none;
} */

.container_guru-result {
  /* display: unset; */
  text-align: center;
}
.guru_score-video {
  width: 20rem;
  height: 100%;
}

.comment_subtitle-score_buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  font-size: var(--h2-font-size);
  color: var(--black-color);
}
.score_buttons {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-around;
}
.button_results-view,
.button_restart,
.button_home {
  min-width: 20rem;
}
.button_home a {
  text-decoration: none;
  color: var(--black-color);
}
.button_restart {
  padding: 4rem 8rem;
}

/* ===============  RESULTS PAGE  ================= */
.container_results-section {
  width: 90rem;
  height: fit-content;
  margin-inline: auto;
  background-color: #ffffff;
  padding-bottom: 4rem;
}
.container_results-section .button_home {
  margin-left: 4rem;
}
.result_text {
  margin-bottom: 2rem;
  font-size: var(--h1-font-size);
}
.section_questions {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 2rem;
}

.section_questions h2,
.result_text {
  padding-left: 2rem;
}
.section_questions span {
  font-size: var(--h2-font-size);
}

.li-container_answers {
  width: max-content;
  min-height: 5rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  gap: 2rem;
}
.li_answer {
  list-style: none;
  width: 100%;
  border: 1px solid var(--black-color);
  text-align: center;
  color: var(--black-color);

  padding: 2rem;
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
  transition: 0.1s ease;
}
.li_answer:hover {
  border: 3px solid var(--purple-color);
  border-radius: 1rem;
}

/* ======= div container to collect data from flask app ====== */
.display_none {
  display: none;
}

.green-box {
  background-color: green;
}
.red-box {
  background-color: red;
}
.green-box,
.red-box {
  color: #ffffff;
}

/* .container_button-start {
  min-width: 20rem;
} */

/* Medium PC SCreen */
/* @media screen and (max-width: 1740px) {
  .hindu_image {
    width: 25rem;
    height: auto;
  }

  body {
    background-color: #ffffff;
  }

  .container_content {
    padding-left: 12rem;
    box-shadow: none;
  }
} */

/* @media screen and (min-width: 1650px) {
  .container_content {
    padding-left: 10rem;
  }
} */

/* @media screen and (min-width: 1500px) {
  .container_content {
    padding-left: 6rem;
  }
} */
