<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivia Score</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/assets/images/triviaguru1-CROP.png" />

    <!-- ========= REMIXICONS ============ -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css"
      crossorigin="" />

    <!-- ========= GOOGLE ICONS ============ -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <header class="container_header">
      <div class="icon_header">
        <a href="/"><h1>TG</h1></a>
      </div>
      <div class="mode_heading start_heading">
        <h1>TRIVIA GURU</h1>
      </div>
    </header>

    <div class="container_content-score">
      <div class="container_score-text">
        <h2 class="score_comment_text">{{ comment | safe }}</h2>
        <div class="container_score">{{ score | safe }}/10</div>
      </div>

      <!-- <div class="dummy-guru-video-section"></div> -->

      {% if score < 5 %}
      <div class="container_guru-result" id="container_guru-result-1">
        <!-- Guru Video here -->
        <video autoplay loop muted class="guru_score-video">
          <source
            src="/static/assets/animations/guru-dead.webm"
            type="video/webm" />
          browser does not support
        </video>
      </div>
      {% elif score < 9 %}
      <div class="container_guru-result" id="container_guru-result-2">
        <video autoplay loop muted class="guru_score-video">
          <source
            src="/static/assets/animations/guru-passive.webm"
            type="video/webm" />
          browser does not support
        </video>
      </div>
      {% else %}
      <div class="container_guru-result" id="container_guru-result-1">
        <video autoplay loop muted class="guru_score-video">
          <source
            src="/static/assets/animations/guru-enlightened.webm"
            type="video/webm" />
          browser does not support
        </video>
      </div>
      {% endif %}

      <div class="comment_subtitle-score_buttons">
        <div class="container_comment-subtitle">
          <h2>{{ comment_subtitle | safe }}</h2>
        </div>
        <div class="score_buttons">
          <div class="score_button_result">
            <button class="button_results-view">View Results</button>
          </div>
          <div class="score_button_restart">
            <button class="button_restart">{{ restart | safe }}</button>
          </div>
          <div class="score_button_home">
            <button class="button_home"><a href="/">Home</a></button>
          </div>
        </div>
      </div>
    </div>

    <footer class="container_footer">
      <div class="container_foooter-links">
        <a href="/">Home</a>
        <a href="#About">About</a>
        <a href="#Contact">Contact Me</a>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/scripts/start.js" type="text/javascript"></script>
  </body>
</html>
