<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.4.0/remixicon.css"
      crossorigin="" />

    <!-- ========= GOOGLE ICONS ============ -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Trivia: Play Now</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="/static/scripts/start.js" type="text/javascript"></script> -->
  </head>
  <body>
    <header class="container_header">
      <div class="icon_header">
        <h1>TG</h1>
        <!-- <a href="{{ url_for('index') }}"></a> -->
      </div>
    </header>
    <div class="mode_heading">
      <h1>TRIVIA GURU</h1>
    </div>
    <div class="container_content-start">
      <form action="/score" method="post" class="form_trivia">
        <div class="start_form-content">
          <div class="start_buttons">
            <div class="container_button-prev">
              <button class="button_prev" type="button">Previous</button>
            </div>
            <div class="container_button-next">
              <button class="button_next" type="button">next</button>
            </div>
            <div class="container_button-submit">
              <button class="button_submit" type="submit">submit</button>
            </div>
          </div>
          <div class="container_trivia-guru">
            <div class="container_circle"></div>
            <div class="container_guru-head">
              <img src="/static/assets/images/tghead 1.png" alt="" />
            </div>
          </div>
          <div class="selected_question">
            <h2>{{ question.text | safe }}</h2>
          </div>
          <div class="container_answers">
            {% for answer in answers_list %}
            <div class="container_answer">
              <input
                type="radio"
                class="selected_answer-radio"
                name="selected_answer"
                id="selected_answer-{{ loop.index0 }}"
                value="{{ answer.text }}" />
              <label
                for="selected_answer-{{ loop.index0 }}"
                class="selected_answer-label"
                >{{ answer.text | safe }}</label
              >
            </div>
            {% endfor %}
          </div>
        </div>
      </form>
    </div>

    <footer class="container_footer">
      <div class="container_foooter-links">
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#Contact">Contact Me</a>
      </div>
    </footer>
    <script src="/static/scripts/start.js" type="text/javascript"></script>
  </body>
</html>
<!-- {% for answer in answers_list %}
  <input type="radio" id="answer_{{ answer.id }}" name="selected_answer" value="{{ answer.id }}" {% if session.get('selected_answer_id') == answer.id %}checked{% endif %}>
  <label for="answer_{{ answer.id }}">{{ answer.text | safe}}</label><br>
{% endfor %} -->
